$primary-blue: #0078b8;
$light-blue: #91c8f8;
$text-header: rgb(79, 79, 79);
$text-body: rgb(95, 95, 95);
$light-green: rgb(212, 255, 203);
$check-green: rgb(151, 242, 133);
$deep-green: rgb(58, 136, 43);
$light-yellow: rgb(254, 212, 255);
$deep-yellow: rgb(160, 27, 162);
$red: rgb(228, 12, 12);
$light-red: rgb(245, 79, 79);

