@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(250, 242, 242);
    margin: 2.5rem 0;
}

header {
    display: flex;
    padding-inline: 2.7rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        padding-inline: 1.5rem;
    }

    @include tablet {
        flex-direction: column;
        gap: 30px;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        h2 {
            color: $primary-blue;
            font-size: 1.2rem;
        }
    }

    .search-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 0.6rem 1rem;
        border-radius: 20px;
        width: 100%;
        max-width: 300px;
        box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;

        @include tablet {
            max-width: 100%;
            width: 100%;
        }

        &:focus-within {
            box-shadow: 0 0 6px 2px $light-blue; // change border or glow color
        }

        #search-input {
            appearance: none;
            border: none;
            background-color: transparent;
            font-size: 1rem;
            color: $text-header;

            &:focus {
                outline: none;
                background-color: transparent;
            }
        }

        button {
            border: none;
            background-color: transparent;
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            i {
                color: $light-blue;
            }
        }
    }
}

.filled-state {
    margin: 3.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    display: none;

    @include tablet {
        margin: 2.5rem 1.7rem;
    }

    @include mobile {
        margin: 2.5rem 1.7rem;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .to-do-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                color: $text-header;
                font-size: 1rem;
                font-weight: 600;
            }

            .button {
                padding: 0.5rem 1rem;
                border: 1.5px solid $light-blue;
                border-radius: 18px;
                background-color: white;
                color: $primary-blue;
                font-weight: 550;
                font-size: 0.9rem;
                transition: all ease-in 0.4s;

                &:hover {
                    color: white;
                    background-color: $primary-blue;
                    border: 2px solid $primary-blue;
                    cursor: pointer;
                }
            }
        }

        .todo-task-row {
            background-color: white;
            color: $text-body;
            padding: 1rem 1.5rem;
            box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            gap: 15px;
            align-items: center;
            justify-content: space-between;

            .task {
                display: flex;
                align-items: center;
                gap: 10px;

                .todo-task {
                    accent-color: $light-green;
                    appearance: none;
                    border: 1px solid $deep-green;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    display: inline-block;
                    position: relative;

                    &:checked {
                        background-color: $check-green;
                        border-color: $check-green;
                    }

                    &:checked::after {
                        content: "";
                        position: absolute;
                        top: 1.8px;
                        left: 5px;
                        width: 4px;
                        height: 8px;
                        border: solid green;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                    }
                }

                img {
                    width: 25px;
                }
            }

            .category {
                background-color: $light-green;
                color: $deep-green;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 0.9rem;

                @include mobile {
                    display: none;
                }
            }

            .date {
                background-color: $light-yellow;
                color: $deep-yellow;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 0.9rem;

                @include mobile {
                    display: none;
                }
            }

            .delete-btn {
                font-size: 1rem;
                color: $text-body;
                border: none;
                transition: all ease-in 0.3s;
                background-color: transparent;
                box-shadow: none;

                &:hover {
                    cursor: pointer;
                    color: gray;
                }
            }
        }
    }
}

.empty-state {
    margin: 3.5rem 4rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;

    @include tablet {
        margin: 2.5rem 1.7rem;
    }

    .promo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;

        h4 {
            color: $text-header;
            font-size: 1.2rem;
        }

        p {
            color: $text-body;
        }
    }

    img {
        width: 100%;
        max-width: 30rem;
        height: auto;
        display: block;
    }

    button {
        padding: 0.5rem 1rem;
        border: 1.5px solid $light-blue;
        border-radius: 18px;
        background-color: white;
        color: $primary-blue;
        font-weight: 550;
        font-size: 1rem;
        transition: all ease-in 0.4s;
        width: 200px;

        &:hover {
            color: white;
            background-color: $primary-blue;
            border: 2px solid $primary-blue;
            cursor: pointer;
        }
    }

}


img {
    width: 40px;
}